<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>	
  <link rel="stylesheet" type="text/css" href="css/app.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <header class="d-flex align-items-center justify-content-between">
      <div class="navbar navbar-default">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav mr-5 font-weight-bold">
        <button type="button"
          class="btn btn-default btn-lg"
          v-on:click="showCheckout">
            <span>
                В корзине: {{ cartItemCount }}
              </span>
        </button>
      </div>
    </header>
    
    <main class="container">
      <div class="row product">
        <div class="d-flex" v-if="showProduct">
            <div class="col">
              <figure>
                <img v-bind:src="product.image" alt="">
              </figure>
            </div>
    
            <div class="col col-expand">
    
              <h1 v-text="product.title"></h1>
              <p v-html="product.description"></p>
              <p class="price">
                {{ product.price | formatPrice }}
              </p>
              <button 
                class="default btn btn-primary btn-lg" 
                v-on:click="addToCart"
                v-if="canAddToCart"
              >          
                Add to cart
              </button>
              <button 
                disabled="true" 
                class=" btn btn-primary btn-lg" 
                v-else
              >
                Add to cart
              </button>
    
            </div>
        </div>
        <div v-else>
          <div class="col-md-6">
            <strong>First Name:</strong>
            <input v-model="order.lastName" class="form-control">
          </div>
          <div class="col-md-6">
            <strong>Last Name:</strong>
            <input v-model="order.lastName" class="form-control">
          </div>
          <div class="col-md-12 verify">
            <pre>
              First Name: {{ order.firstName }}
              Last Name: {{ order.lastName }}
            </pre>
          </div>
        </div>
      </div> 
    </main>
  </div>	
  
  <script src="vue.js"></script>
</body>
</html>