<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>	
  <link rel="stylesheet" type="text/css" href="css/app.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <header class="d-flex align-items-center justify-content-between">
      <div class="navbar navbar-default">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav mr-5 font-weight-bold">
        <button type="button"
          class="btn btn-default btn-lg"
          v-on:click="showCheckout">
            <span>
                В корзине: {{ cartItemCount }}
              </span>
        </button>
      </div>
    </header>
    
    <main class="container">
      
      <div class="row" v-if="showProduct">
          <div class="col">
            <figure>
              <img v-bind:src="product.image" alt="">
            </figure>
          </div>
  
          <div class="col col-expand">
  
            <h1 v-text="product.title"></h1>
            <p v-html="product.description"></p>
            <p class="price">
              {{ product.price | formatPrice }}
            </p>
            <button 
              class="default btn btn-primary btn-lg" 
              v-on:click="addToCart"
              v-if="canAddToCart"
            >          
              Add to cart
            </button>
            <button 
              disabled="true" 
              class=" btn btn-primary btn-lg" 
              v-else
            >
              Add to cart
            </button>
  
          </div>
      </div>

      <div class="row" v-else>
        
        <div class="col-md-6">
          <strong>First Name:</strong>
          <input v-model="order.firstName" class="form-control">
        </div>

        <div class="col-md-6">
          <strong>Last Name:</strong>
          <input v-model="order.lastName" class="form-control">
        </div>

        <div class="col-md-12 form-group">
          <strong>Address:</strong>          
          <input v-model="order.address" class="form-control">
        </div>

        <div class="col-md-12 form-group">
          <strong>City: </strong>
          <input v-model="order.city" class="form-control">
        </div>

        <div class="col-md-12 form-group">
          <Strong>State:</Strong>
          <select v-model="order.state" class="form-control">
            <option disabled value="">State</option>
            <option v-bind:value="state.AL">AL</option>
            <option v-bind:value="state.AR">AR</option>
            <option>CA</option>
            <option>NV</option>
          </select>
        </div>

        <div class="col-md-12 form-group">
          <strong>Zip / Postal Code: </strong>
          <input v-model="order.zip" class="form-control">
        </div>

        <div class="col-lg-6 form-group">
          <input type="checkbox"
           id="gift"
           value="true"
           v-bind:true-value="order.sendGift"
           v-bind:false-value="order.dontSendGift"
           v-model="order.gift">
           <label for="gift">Ship As Gift</label>
        </div>

        <div class="col-lg-6 form-group">
          <input type="radio" 
            id="home"
            value="Home"
            v-bind:value="order.home"
            v-model="order.method">
            <label for="home">Home</label>

          <input type="radio" 
            id="business"
            value="business"
            v-bind:value="order.business"
            v-model="order.method">
            <label for="business">Business</label>
        </div>

        <div class="col-md-12 verify p-3">
          <pre>
            First Name: {{ order.firstName }}
            Last Name: {{ order.lastName }}
            Address: {{ order.address }}
            City: {{ order.city }}
            Zip: {{ order.zip }}
            State: {{ order.state }}            
            Method: {{ order.method }}            
            Gift: {{ order.gift }}            
          </pre> 
          
          <div class="col-lg-6 form-group">
            <button type="submit"
             class="btn btn-primary submit"
             v-on:click="submitForm">Place order</button>
          </div>
        </div>
      </div>
        
    </main>
  </div>	
  
  <script src="vue.js"></script>
</body>
</html>